envs/venv313/
envs/venv313_nocp/
envs/tamubo_exactbo/
envs/venvTrial/
__pycache__/
.DS_Store
tamubo.egg-info/
*.egg-info/
.ipynb_checkpoints/
cufile.log
examples/exactbo/logs/minimization_2d_visualization.json
.vscode/*